<h3>Olá, {{nome_psicologo}}, seja bem vindo(a) ao EMDR Remoto PSI!</h3>
<h4>Para iniciar o sistema, é necessário validar seu endereço de e-mail: <a href="{{link}}">Validar meu e-mail</a> .</h4>
<h4>Caso o link acima não funcione, utilize o endereço abaixo em seu navegador: {{link}}</h4>
<p>Atenciosamente,</p>
<p>Equipe PSI</p>